-- Task 1: Which 10 companies make the most money? Use two columns: Company name and the sum of the fare. Order by descending order.

In [ ]:
SELECT 
    c.company_name,
    ROUND(SUM(t.fare), 2) AS total_fare
FROM 
    taxi_trips t
JOIN 
    company c ON t.company_id = c.company_id
GROUP BY 
    c.company_name
ORDER BY 
    total_fare DESC
LIMIT 10;

-- Task 2: Show the 10 pickup community areas with the most rides. Use two columns: community area name and count of rides per area, in descending order for the rides.

In [ ]:
-- Task 2: Show the 10 pickup community areas with the most rides. Use two columns: community area name and count of rides per area, in descending order for the rides.
SELECT 
    ca.community_area_name,
    COUNT(*) AS ride_count
FROM 
    taxi_trips t
JOIN 
    community_areas ca ON t.pickup_community_area = ca.community_area_id
GROUP BY 
    ca.community_area_name
ORDER BY 
    ride_count DESC
LIMIT 10;

-- Task 3: Get the count of taxi rides per day of week. Use the names of the days instead of numbers (Monday = 1, Tuesday = 2, etc.).

In [ ]:

SELECT 
    CASE EXTRACT(DOW FROM t.trip_start_timestamp)
        WHEN 0 THEN 'Sunday'
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
    END AS day_name,
    COUNT(*) AS ride_count
FROM 
    taxi_trips t
GROUP BY 
    day_name
ORDER BY 
    CASE day_name
        WHEN 'Monday' THEN 1
        WHEN 'Tuesday' THEN 2
        WHEN 'Wednesday' THEN 3
        WHEN 'Thursday' THEN 4
        WHEN 'Friday' THEN 5
        WHEN 'Saturday' THEN 6
        WHEN 'Sunday' THEN 7
    END;